td{
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 15px 15px;
    position: left;
    transition: all 100ms;

}
body{
    background-color: rgb(150, 150, 150);
}
